.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e20074; /* Tmavá šedá */
  /*background-image: url('https://www.transparenttextures.com/patterns/cartographer.png'); /* Textúra s pruhmi */
  background-image: url('https://www.transparenttextures.com/patterns/diagmonds.png'); /* Textúra s pruhmi */
  /*background-image: url('https://www.transparenttextures.com/patterns/escheresque-dark.png'); /* Textúra s pruhmi */
  /*background-image: url('https://www.transparenttextures.com/patterns/light-wool.png'); /* Textúra s pruhmi */
  /*background-image: url('https://www.transparenttextures.com/patterns/maze-black.png'); /* Textúra s pruhmi */
  /*background-image: url('https://www.transparenttextures.com/patterns/shattered.png'); /* Textúra s pruhmi */

  background-position: center;
}


/* Card container styling (applies to all pages) */
.card {
  max-width: 400px;
  padding: 30px;
  border-radius: 8px;
  background-color: #ffffff !important; /* Force background color */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1) !important; /* Force shadow */
  position: relative;
  text-align: center;
  border: 1px solid #e20074 !important; /* Border color */
}

/* Card Header (Top border color) */
.card-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15px;
  background-color: #e20074; /* Primary magenta color */
}

/* Typography for card title */
.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e20074; /* Primary color */
  margin-bottom: 20px;
}

/* Spacing for text in card */
.card-text {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}

/* Input fields styling */
.MuiTextField-root {
  width: 100%;
  border-radius: 4px;
}

/* Error handling for input fields */
.MuiTextField-root.Mui-error {
  border-color: #d32f2f !important; /* Red border for error state */
}

/* Form helper text (Error messages) */
.MuiFormHelperText-root {
  margin-bottom: -10px !important; /* Remove the extra gap below the error message */
  font-size: 0.875rem;
  color: #d32f2f !important;
}

/* Buttons styling */
.MuiButton-root {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  width: 100%;
}

/* Button hover state */
.MuiButton-root:hover {
  background-color: #d20074; /* Darken the color when hovered */
}

/* Adjusted margin for error messages under input fields */
.error-message {
  color: #d32f2f;
  font-size: 0.9rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Success message styling */
.success-message {
  color: #388e3c;
  font-size: 0.9rem;
  margin-bottom: 15px;
}
